body {
	background: radial-gradient(blue, black);
	height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	width: 90vw;
	height: 95vh;
	background-color: rgb(57, 0, 104);
	display: flex;
	justify-content: space-between;
	/* z-index: -2; */
}

.bookshelf {
	width: 48%;
	height: 100%;
	/* background-color: black; */
	background-image: url(images/bookshelf2copy.png);
	/* border: solid 5px rgb(0, 255, 76); */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* z-index: -999; */
}

.outer-shelf {
	background-color: rgb(165, 42, 42);
	position: relative; /* Added - needed for absolute positioning of :after */
	height: 33.33%;
	width: 100%;
	background-image: url(images/bookshelf.png);
	background-position: center bottom;
	background-size: cover;
	display: flex;
	justify-content: center;
	/* margin: ; */
	/* top: 0; */
	/* right: 10%; */
	/* transform: skewX(-10deg);
	-webkit-transform: skewX(-10deg);
	-moz-transform: skewX(-10deg);
	-ms-transform: skewX(-10deg); */
}

/* .shelf::after {
	content: "";
	position: absolute;
	right: -2%;
	top: 0;
	z-index: +1;

	width: 100px;
	height: 100%;

	background-color: blue;
	transform: skewX(-10deg);
	-webkit-transform: skewX(-10deg);
	-moz-transform: skewX(-10deg);
	-ms-transform: skewX(-10deg);
} */
.inner-shelf {
	width: 95%;
	height: 93%;
	/* background-color: wheat; */
}

/*hr {
	width: 100%;
	margin: 0;
	padding: 0;
} */
